<h3>说点历史</h3>

<p>
    1995年，网景公司创建了Javascript 并将其用作HTML的拓展语言，最新适用于网景浏览器v2.0， 当时主要用于编写函数操作HTML文档，提交表单数据到服务器等基础的功能。
    
	在广为人知之前，Javascript曾被称为Mocha， 第一个版本发行的时候还叫LiveScript，辗转由又由Sun改名为Jscript，就是我们常说的Javascript了。
    
	因为名字里呆着Java， 所以大家经常混淆，即使两个语言都很NB，但完全不是一回事儿。

    与C, C#, Java不同，Javascript是一门解释性语言，换句话说，他需要的不是编译器，而是解释器，这玩儿就是我们常见的浏览器了。
</p>

<h3>当前版本</h3>

<p>
    Javascript这么NB，当然有NB组织带盐，ECMA（欧洲计算机制造商协会，大概是这么翻译）2012年的时候通过了ES5，同时要求浏览器厂商至少支持到ES3， 2015年，ES6草案也被通过。详情查询 <a target="_blank" href="http://www.ecma-international.org/ecma-262/6.0/index.html">ECMA 官网</a>
</p>

<p>
    追踪项目版本是第一个最佳实践，Javascript的版本更新可以查看 <a target="_blank" href="https://developer.mozilla.org/en-US/docs/JavaScript">Mozilla 开发者社区</a>.
</p>

<h3>文件树 (DOM)</h3>

<p>=
	文件对象树是HTML/XML文件的数据模型API。这些接口提供了文档的结构化表示方式，同时便于程序猿修改其文档内容和展示形式，而实现这个功能的就是Javascript了，详情参照 <a target="_blank" href="https://developer.mozilla.org/en-US/docs/DOM">Mozilla 开发者社区- DOM</a>.
</p>
