
<h3>简介</h3>

<p>
    由于Javascript包含了该语言特有的设计模式，许多经典的设计模式也会有相应的实现方式
</p>

<p>
    读一下 <a target="_blank" href="https://twitter.com/addyosmani">Addy Osmani</a>的开源读物 <a target="_blank" href="http://addyosmani.com/resources/essentialjsdesignpatterns/book/">Learning JavaScript Design Patterns</a>, 会是一个不错的选择，下文中的链接目录来自于这本书
</p>

<h3>设计模式</h3>

<section class="txt">
    <ul>
        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#factorypatternjavascript'>工厂</a></li>
        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#prototypepatternjavascript'>原型</a></li>
        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#mixinpatternjavascript'>Mixin</a></li>
        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#singletonpatternjavascript'>单例</a></li>
    </ul>
</section>

<p class="source">
    创建型模式
</p>

<section class="txt">
    <ul>
        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#wrapperpatternjquery'>适配器</a></li>
        <li><a target="_blank" href='http://www.joezimjs.com/javascript/javascript-design-patterns-bridge/'>桥接</a></li>
        <li><a target="_blank" href='http://www.joezimjs.com/javascript/javascript-design-patterns-composite/'>组合</a></li>
        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#decoratorpatternjavascript'>装饰</a></li>
        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#facadepatternjavascript'>外观</a></li>
        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#detailflyweight'>享元</a></li>
        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#modulepatternjavascript'>Module</a></li>
        <li><a target="_blank" href='http://www.joezimjs.com/javascript/javascript-design-patterns-proxy/'>代理</a></li>
        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#revealingmodulepatternjavascript'>Revealing Module</a></li>
    </ul>
</section>

<p class="source">
    结构模式
</p>

<section class="txt">
    <ul>
        <li><a target="_blank" href='http://www.joezimjs.com/javascript/javascript-design-patterns-chain-of-responsibility/'>责任链</a></li>
        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#commandpatternjavascript'>命令</a></li>
        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#mediatorpatternjavascript'>仲裁</a></li>
        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#observerpatternjavascript'>观察者</a></li>
    </ul>
</section>

<p class="source">
    表现模式
</p>

<h3>MV* 模式</h3>

<section class="txt">
    传统的MVC模式在Javascript中有众多实现方式
</section>

<section class="txt">
    <ul>
        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#detailmvc'>MVC 模式</a></li>
        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#detailmvp'>MVP 模式</a></li>
        <li><a target="_blank" href='http://addyosmani.com/resources/essentialjsdesignpatterns/book/#detailmvvm'>MVVM 模式</a></li>
    </ul>
</section>
